.out-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 70%;
  }
  
  .inside-container {
    background-color: #020833;
    border-style: solid;
    border-color: #b52549;
    width: 80%;
    height: 100%;
  }